#bg{
   width: 500px;
   height: 500px;
   background-color: blue;
   background-image: url("logo_SM.jpg");
   background-size: 450px 450px;
   background-repeat: no-repeat;
   background-position: center ;
   /* background: url("logo_SM.jpg") no-repeat center; */
}